venv/
__pycache__/
*.pyc

.mypy_cache/
.ruff_cache/
.pytest_cache/

.DS_Store

.env
.env.local
.env.dev
.env.test
.env.prod
!.env.example

*.sqlite3
*.db
instance/

*.egg-info/

.coverage
htmlcov/
*.log
temp.txt

.vscode/
